@font-face {
	font-family: 'roboto_mono';
	src: url('includes/fonts/robotomono-regular-webfont.woff2') format('woff2'),
	url('includes/fonts/robotomono-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'roboto_mono';
	src: url('includes/fonts/robotomono-light-webfont.woff2') format('woff2'),
	url('includes/fonts/robotomono-light-webfont.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
svg{
	stroke-width:2px !important;
}
html {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: 'roboto_mono', 'Monaco', monospace;
	font-weight: 200;
}
pre{
	font-family: 'roboto_mono', 'Monaco' !important;
	font-weight: 400 !important;
}
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	color: #eee;
	position: relative;
	background:#000;
	overflow:hidden;
}

/* EDITOR */
/*.ace_line_bg, .ace_line, .ace_line span, .ace_active-line, .ace_layer *, .ace_marker-layer *{
	background:none;
	border:none !important;
}*/

/* MENU */
.menu-section{
	position:relative;
	margin:0 0 8px 0;
	border:1px solid #888;
}
.menu-section-bg{
	position:absolute;
	width:100%;
	height:100%;
	background:#222;
	opacity:.75;
}
.menu-header{
	font-size:14pt;
	color:#fff;
	border-bottom:1px solid #888;
	background:#222;
	margin:0px 0 5px 0;
	padding-left:5px;
	padding-bottom:2px;
	font-weight:700;
	letter-spacing: 1px;
	opacity:.75;
}
.feather {
	stroke:#fff;
	height:24px;
}
.menu-sketches-buttons{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	padding-left:0px;
	margin-bottom: 0px;
	margin-top:-5px;
	position:relative;
	width:100%;
	height:30px;
}
.menu-button{
	color:#fff;
	background:#666;
	margin:0px;
	padding:3px;
	border:0;
	border-right:1px solid #888;
	border-bottom:1px solid #888;
	outline:none;
	cursor:pointer;
	font-weight: 400;
	width:30px;
	height:30px;
	opacity:.75;
	flex: 1;
	outline:none;
}
.menu-button:last-child{
	border-right:none;
}
.menu-button:hover:not([disabled]){
	color:#fff;
	opacity: 1;
	background:#444;
}
/* COCODING RENAME */
button:disabled{
	opacity:.25;
}

 /* TOOLTIPS */


/* *** to remove */

/* custom scrollbar for sketches */
/* width */
*::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* hide main editor scrollbars */

/* IMPORT */

/* REFERENCES */

/* DRAG + DROP */
#drop{
	position:fixed;
	width:100vw;
	height:100vh;
	opacity:.5;
	background:#00ff00;
	z-index:99999;
	display:none;
	pointer-events: none;
}

/* SNIPPETS */
#snippets-panel{
	position:fixed;
	left:0px;
	top:0px;
	/*background:rgba(255, 255, 0, .5);*/
	width:100%;
	height:100%;
	padding-top:15px;
	padding-left:15px;
	/*border: 1px solid #888;*/
	/*border-top: 1px solid #888;*/
	/*font-family: monospace;*/
/*	display: none;*/
}
.snippets-bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:#222;
	opacity: .5;
	z-index: -1;
}
.snippets-close{
	position: absolute;
	width: 31px;
	height: calc(50% - 2px);
	top: 0;
	right: 0px;
	/*margin-top: -1.4em;*/
	/*background: #666;*/
	border-left: 1px solid #888;
	padding: 0 5px 0 5px;
	text-align: center;
	cursor: pointer;
	color: #aaa;
}
.snippets-close:hover{
	color: #fff;
}
#snippets-content{
/*	padding: 15px;*/
}
.snippets-section{
	height: calc((100vh - 100px) / 6);
	margin-bottom: 25px;
}
#snippets-panel pre{
	padding-left: 2em;
	width: 100%;
	height: 100%;
	font-family: monospace;
	background: #012f23;
	color: #00ff00;
	outline: none;
	border: none;
	border: 1px solid #888;
	margin: 0;
}
.snippets-select{
	/*height: 30px;*/
	min-width: 150px;
	max-width: 150px;
	margin-top: 0 !important;
	/*border-radius: 5px;*/
	/*border: 1px solid #888;*/
	background: #666;
	color: #fff;
	outline: none;
}

.snippets-label{
	position: relative;
	margin: 0px 0 0px 0;
	z-index: 1;
}
.snippets-label span{
	font-size:10pt;
	color: #aaa;
	background: #012f23;
	border: 1px solid #888;
	border-bottom: none;
	padding: 0px 4px 2px 2px;
	text-transform: uppercase;
	/*color: #00ff00;*/
	-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.snippets-label svg{
	position: absolute;
	cursor: pointer;
	margin-top: -3px;
	height:22px;
	opacity: .5;
	outline:none;
}
.snippets-label svg:hover{
	opacity: 1;
}

/* *** to remove */
.tippy-tooltip{
	font-size:8pt;
	border:1px solid #ddd;
}
.tippy-content, .tippy-tooltip{
	background:#fafafa;
	color:#000;
	background:#222;
	color:#ddd;
	font-weight:400;
}
.tippy-roundarrow{
	fill:#ddd;
}